    sagemaker
    pandas
    scikit-learn
    numpy
    matplotlib
    seaborn
    opencv-python
    xgboost
    torch
    spectral
    scikit-image
    argparse
    imgaug
    pyopencl
    torchvision
    colorama
    albumentations
    tqdm
    PyQt5